/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/vendor/statamic-peak-tools
/public/static/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.phpunit.cache

/public/build/
/users
/storage/forms
.DS_Store
app/.DS_Store
content/.DS_Store
content/trees/.DS_Store
database/.DS_Store
lang/.DS_Store
public/.DS_Store
public/vendor/.DS_Store
resources/.DS_Store
resources/blueprints/.DS_Store
.DS_Store
.DS_Store
