/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    html {
        @apply bg-gray-900 text-white font-light antialiased scroll-smooth scroll-pt-4;
    }

    body {
        @apply flex flex-col min-h-screen selection:bg-primary selection:text-white;
    }

    h1,h2,h3,h4 {
        font-family: "Exo", serif;
        @apply text-white font-semibold mb-4;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-2xl;
    }

}

@layer components {
    .container {
        @apply mx-auto max-w-5xl;
    }

    .btn {
        @apply font-bold py-3 px-4 rounded inline-block mt-6 transition active:translate-x-1;
    }

    .btn-primary {
        @apply btn;
        @apply bg-primary hover:bg-primary-400 active:bg-primary-300;
    }

    .btn-ghost {
        @apply btn;
        @apply border-2 hover:bg-gray-300/25 active:bg-gray-300/50;
    }
    
}

@layer utilities {
    .dot {
        //align-items: center;
        //display: flex;
        position: relative;
    }
    .dot::before {
        @apply bg-primary;
        content: '';
        position: absolute;
        left: -29px;
        top: 7px;
        display: block;
        margin-right: 10px;
        width: 15px;
        height: 22px;
    }

    h1, h2, h3, h4 {
        &.on_light {
            @apply text-gray-900;
        }
    }
}

.navbar {
    @apply absolute w-full fluid-grid py-4;

    .container {
        @apply span-content flex justify-between items-start;
    }

    img {
        width: 260px;
    }
}


.hero {
    @apply bg-gray lg:py-32;

    .container {
        @apply grid grid-cols-2 gap-6;
    }

    .col {
        @apply md:col-span-1;
    }

    .lead-title {
        @apply text-primary font-semibold text-xl;
    }

    p {
        span {
            @apply text-primary font-bold;
        }
    }
}

.benefits {
    @apply pb-16 -mt-16;

    .container {
        @apply grid grid-cols-4 gap-6;
    }

    .description {
        @apply flex flex-col justify-center pt-16;

        .lead-title {
            @apply font-bold text-primary;
        }

        h3 {
            @apply text-4xl;
        }
    }

    .benefit {
        @apply bg-gray-50 p-6 rounded;

        h3 {
            @apply text-2xl;
        }

        p {
            @apply text-gray-800;
        }
    }
}