/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    html {
        @apply bg-gray-900 text-white font-light antialiased scroll-smooth scroll-pt-4;
    }

    body {
        @apply flex flex-col min-h-screen selection:bg-primary selection:text-white;
    }

    h1,h2,h3,h4 {
        font-family: "Exo", serif;
        @apply text-white font-semibold mb-4;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-2xl;
    }

    main a {
        @apply font-bold text-primary-300 underline;

        &:hover {
            @apply text-primary-100
        }
    }

}

@layer components {
    .container {
        @apply mx-auto max-w-5xl gap-6 px-6 xl:px-0;
    }

    .btn {
        @apply font-bold py-3 px-4 rounded inline-block mt-6 transition active:translate-x-1 cursor-pointer no-underline text-white hover:text-white;
    }

    .btn-primary {
        @apply btn;
        @apply bg-primary hover:bg-primary-400 active:bg-primary-300;
    }

    .btn-ghost {
        @apply btn;
        @apply border-2 hover:bg-gray-300/25 active:bg-gray-300/50;
    }
    
}

@layer utilities {
    .dot {
        //align-items: center;
        //display: flex;
        position: relative;
    }
    .dot::before {
        @apply bg-primary;
        content: '';
        position: absolute;
        left: -29px;
        top: 7px;
        display: block;
        margin-right: 10px;
        width: 15px;
        height: 22px;
    }

    h1, h2, h3, h4 {
        &.on_light {
            @apply text-gray-900;
        }
    }

    .lead-title {
        @apply font-bold text-primary;
    }
}


/* ******** */
/* Sections */
/* ******** */

// Navbar
.navbar {
    @apply absolute w-full py-4;

    .container {
        @apply span-content flex justify-between items-start;
    }

    img {
        width: 260px;
    }
}

// Hero section
.hero {
    @apply bg-gray;

    .container {
        @apply grid grid-cols-2 gap-6;
    }

    .col {
        @apply col-span-2 md:col-span-1;
    }

    .lead-title {
        @apply text-xl;
    }

    p {
        span {
            @apply text-primary font-bold;
        }

        strike {
            @apply text-gray-200;
        }

        strong {
            @apply font-bold;
        }
    }
}

.optin {
    @apply bg-gray;

    .container {
        @apply grid grid-cols-2 gap-6;
    }

    .col {
        @apply col-span-2 md:col-span-1;
    }

    .lead-title {
        @apply text-xl;
    }

    p {
        span {
            @apply text-primary font-bold;
        }

        strike {
            @apply text-gray-200;
        }

        strong {
            @apply font-bold;
        }

        sub {
            @apply text-sm;
        }
    }

    form {
        @apply bg-gray-900 p-6 rounded-md grid grid-cols-1 gap-6;
        
        input[type=text], input[type=email] {
            @apply rounded text-gray-900 font-bold transition-all;

            &:hover {
                @apply ring ring-primary-800;
            }
        }

        .btn-primary {
            @apply mt-0;
        }
    }

    .note {
        @apply text-sm font-normal text-gray-200/50 py-4 px-6;
    }
}

// Payment
.payment {
    @apply bg-gray;

    .container {
        @apply grid grid-cols-2 gap-6;
    }

    .col {
        @apply col-span-2 md:col-span-1;
    }

    .lead-title {
        @apply text-xl;
    }

    span {
        @apply text-primary font-bold;
    }

    strike {
        @apply text-gray-200;
    }

    strong {
        @apply font-bold;

        &.desc {
            @apply text-gray-400;
        }
    }

    h3 {
        @apply mb-0;
    }

    ul {
        @apply my-6;

        li {
            @apply pl-6 relative;

            &::before {
                @apply text-primary absolute block top-0 left-0;
                content: "\2714";
            }
        }
    }

    .icons {
        @apply mx-auto mt-4 h-5;
    }
    
    .note {
        @apply flex justify-center items-center text-gray-200/50 py-4 px-6;

        .lock-icon {
            @apply h-4 mr-2;
        }

        p {
            @apply text-sm font-normal;
        }
    }
}

// Panel section
.panels {
    @apply py-16 bg-gray;
    
    .container {
        @apply flex flex-col lg:flex-row-reverse;
    }

    &:nth-child(even) {
        .reversible {
            @apply lg:flex-row;
        }
    }

    .panel-content {
        @apply w-full lg:w-2/3;
    }

    .panel-image {
        @apply w-full lg:w-1/3 flex items-center justify-center;
    }

    .lead-title {
        @apply text-xl;
    }

    p {
        @apply mb-4
    }

    ul {
        @apply mb-6;

        li {
            @apply mt-6 pl-6 relative;

            ::before {
                @apply bg-primary absolute block top-2 left-0;
                content: "";
                width: 10px;
                height: 10px;
            }

            ul {
                li {
                    ::before {
                        @apply bg-gray-300;
                    }
                }
            }
        }
    }

    ol {
        @apply mb-6 list-decimal;

        li {
            @apply mt-6 pl-6 relative;
        }
    }

    strong {
        @apply text-primary font-bold;
    }

    hr {
        @apply my-6;
    }

    code {
        @apply bg-gray-900 px-6 py-2 inline-block mt-2;
    }

    .note {
        @apply text-sm font-normal text-gray-300 py-4 px-6;
    }
}

// Article section
.article {
    @apply py-16;

    .container {
        @apply grid grid-cols-1;
    }

    .description {
        @apply flex flex-col justify-center lg:pt-16 col-span-12 lg:col-span-3;

        h3 {
            @apply text-4xl;
        }
    }

    strong {
        @apply text-primary font-bold;
    }

    ul {
        @apply mb-6;

        li {
            @apply mt-6 pl-6 relative;

            ::before {
                @apply bg-primary absolute block top-2 left-0;
                content: "";
                width: 10px;
                height: 10px;
            }

            ul {
                li {
                    ::before {
                        @apply bg-gray-300;
                    }
                }
            }
        }
    }

    hr {
        @apply my-6;
    }
}

// Benefits section
.benefits {
    @apply py-16 lg:pb-16 lg:pt-0 lg:-mt-8;

    .container {
        @apply grid grid-cols-12;
    }

    .description {
        @apply flex flex-col justify-center lg:pt-16 col-span-12 lg:col-span-3;

        h3 {
            @apply text-4xl;
        }
    }

    .benefit {
        @apply bg-gray-50 p-6 rounded col-span-12 md:col-span-4 lg:col-span-3;

        h3 {
            @apply text-2xl;
        }

        p {
            @apply text-gray-800;
        }
    }
}

// Features section
.features {
    @apply pb-16;

    .container {
        @apply grid grid-cols-12;
    }

    .feature {
        @apply bg-gray-800 p-6 rounded col-span-12 md:col-span-6;

        h3 {
            @apply text-xl;
        }
    }
}

// Long Content section
.long-content {
    @apply py-16;
    
    .container {
        @apply grid grid-cols-12 gap-6;
    }

    .col:first-child {
        @apply col-span-12 md:col-span-8 md:col-start-2;
    }

    .col:last-child {
        @apply col-span-12 md:col-span-10 md:col-start-2 border-l-8 border-gray-800 pl-6;
    }

    p:not(:last-child) {
        @apply mb-6;

        strong {
            @apply text-primary-200;
        }
    }

    em {
        @apply font-normal;
    }

    strong {
        @apply font-bold;
    }

    h3 {
        @apply mb-0;
    }

    ul {
        @apply mb-6;

        li {
            @apply mt-6 pl-6 relative;

            ::before {
                @apply bg-primary absolute block top-2 left-0;
                content: "";
                width: 10px;
                height: 10px;
            }

            ul {
                li {
                    ::before {
                        @apply bg-gray-300;
                    }
                }
            }
        }
    }

    ol {
        @apply mb-6 list-decimal;

        li {
            @apply mt-6 pl-6 relative;
        }
    }
}

// Product section
.product {
    @apply py-16 bg-gray-800;

    .container {
        @apply grid grid-cols-3;
    }

    .col {
        @apply col-span-3;
    }

    .col:first-child {
        @apply col-span-2 lg:col-span-2;
    }

    .col:nth-child(2) {
        @apply md:relative md:py-16 md:flex md:justify-center items-center;
    }

    .col:last-child {
        @apply flex;
    }

    img {
        @apply py-6 md:absolute w-full lg:w-3/4;
    }

    .usps {
        @apply w-full;
    }

    .usp {
        @apply py-3 md:py-0 md:relative md:-my-6 flex items-center;

        .body {
            @apply md:w-1/3 bg-gray-900 px-4 py-3 rounded;

            h4 {
                @apply text-xl mb-0;
            }
        }
    
        .line {
            @apply hidden md:block w-32 bg-primary h-1 ml-1;
        }
    }

    .usp:nth-child(even) {
        @apply flex-row-reverse;

        .body {
            @apply md:ml-1;
        }
    
        .line {
            @apply ml-auto;
        }
    }

    .btn-primary {
        @apply ml-auto;
    }
}

// Gallery section
.gallery {
    @apply bg-gray-900 py-16;

    .slides {
        @apply relative aspect-[16/9];
    }

    .slide {
        @apply absolute inset-0;
    }

    .image {
        @apply w-full h-full object-contain;
    }

    .gallery-nav {
        @apply flex gap-6 mt-6 overflow-x-auto;
    }

    .nav-item {
        @apply flex-none relative aspect-[16/9] w-24 sm:w-32 transition-opacity;
    }

    .thumbnail {
        @apply w-full h-full object-cover rounded;
    }

    .note {
        @apply text-center text-sm font-normal text-gray-200/30 mt-6;
    }
}

// Spec. List section
.spec_list {
    @apply bg-gray-800 py-16;

    dl {
        @apply divide-y divide-gray-700;
    }

    .spec {
        @apply px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0;
    }

    .title {
        @apply text-sm/6 font-bold;
    }

    .description {
        @apply mt-1 text-sm/6 sm:col-span-2 sm:mt-0;
    }
}

// List section
.list {
    @apply bg-gray-900 pb-16;

    dl {
        @apply divide-y divide-gray-700;
    }

    .listitem {
        @apply py-6;
    }

    .title {
        @apply font-bold;
    }

    .description {
        @apply mt-1 sm:col-span-1 sm:mt-0;
    }
}

// Contact section
.contact {
    @apply bg-gray-900 py-16;

    .container {
        @apply grid grid-cols-2 gap-4;
    }

    .col {
        @apply col-span-1;
    }

    .email {
        @apply inline-block mt-4;
    }
}