/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    html {
        @apply text-white font-light;
    }

    h1,h2,h3,h4 {
        font-family: "Exo", serif;
        @apply text-white font-semibold mb-4;

        &.on_light {
            @apply text-gray-900;
        }
    }

    h1 {
        @apply text-5xl;
    }

}

@layer components {
    .container {
        @apply mx-auto max-w-2xl;
    }
}

@layer utilities {
    .dot {
        align-items: center;
        display: flex;
    }
    .dot::before {
        @apply bg-primary;
        content: '';
        display: block;
        margin-right: 10px;
        width: 10px;
        height: 10px;
    }
}


.hero {
    @apply bg-gray relative lg:py-32;

    .container {
        @apply grid grid-cols-2 gap-4;
    }

    .col {
        @apply md:col-span-1;
    }

    .lead-title {
        @apply text-primary font-semibold text-xl;
    }

    p {
        span {
            @apply text-primary font-bold;
        }
    }
}