{{#
    @name Article
    @desc The article page builder block. It extends the prose typography partial.
    @set page.page_builder.article
#}}

<!-- /page_builder/_article.antlers.html -->
{{ partial:page_builder/block class="article" }}
    <div class="container">
        <div class="col">
            {{ article }}
                {{ partial src="components/{type}" }}
            {{ /article }}
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_article.antlers.html -->
