{{#
    @name Benefits
    @desc The Benefits page builder block. It extends the prose typography partial.
    @set page.page_builder.benefits
#}}

<!-- /page_builder/_benefits.antlers.html -->
{{ partial:page_builder/block class="bg-gray-900 py-16 sm:py-32 lg:py-48" }}
    <div class="mx-auto max-w-5xl grid grid-cols-4 gap-8">
        <div class="flex flex-col justify-center">
            <span class="font-bold text-primary">
                {{ lead }}
            </span>
            <h3 class="text-4xl font-bold mb-6 text-white">
                {{ title }}
            </h3>
            <p class="font-bold text-primary-100 mb-4">
                {{ description }}
            </p>
            <p class="text-white">
                {{ body }}
            </p>
        </div>
        {{ entries }}
        <div class="bg-white flex justify-center p-4 items-center text-center h-[600px] bg-cover bg-center" style="background-image: url({{ image }});">
            <span class="font-bold text-white text-4xl drop-shadow-[0_0_10px_rgba(0,0,0,1)]">{{ title }}</span>
        </div>
        {{ /entries }}
        
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_benefits.antlers.html -->
