{{#
    @name Benefits
    @desc The Benefits page builder block. It extends the prose typography partial.
    @set page.page_builder.benefits
#}}

<!-- /page_builder/_benefits.antlers.html -->
{{ partial:page_builder/block class="benefits" }}
    <div class="container">
        <div class="description">
            <span class="lead-title">
                {{ lead }}
            </span>
            <h3>
                {{ title }}
            </h3>
            <p>
                {{ body }}
            </p>
        </div>
        {{ entries }}
        <div class="benefit">
            <h3 class="on_light dot">{{ title }}</h3>
            <p>
                {{ body }}
            </p>
        </div>
        {{ /entries }}
        
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_benefits.antlers.html -->
