{{#
    @name Hero
    @desc The Hero page builder block. It extends the prose typography partial.
    @set page.page_builder.hero
#}}

<!-- /page_builder/_hero.antlers.html -->
{{ partial:page_builder/block class="hero" }}

    <div class="container {{ if is_homepage }}py-32 lg:py-32{{ else }}pt-36 pb-12{{ /if }}">
        {{ if image }}
            <div class="col flex items-center">
                <img src="{{ image }}" alt="pcb">
            </div>
        {{ /if }}
        <div class="col">
            {{ if lead_title }}
                <span class="lead-title">{{ lead_title }}</span>
            {{ /if }}
            <h1>{{ title }}</h1>
            {{ if description }}
                <p>{{ description }}</p>
            {{ /if }}

            {{ if button_link }}
                <a href="{{ button_link }}" class="btn-ghost">{{ button_text }}</a>
            {{ /if }}
        </div>
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_hero.antlers.html -->
