{{#
    @name Hero
    @desc The Hero page builder block. It extends the prose typography partial.
    @set page.page_builder.hero
#}}

<!-- /page_builder/_hero.antlers.html -->
{{ partial:page_builder/block class="hero" }}

    <div class="container">
        <div class="col flex items-center">
            <img src="{{ image }}" alt="pcb">
        </div>
        <div class="col">
            <span class="lead-title">{{ lead_title }}</span>
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <a href="{{ button_link }}" class="btn-ghost">{{ button_text }}</a>
        </div>
        
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_hero.antlers.html -->
