{{#
    @name Hero
    @desc The Hero page builder block. It extends the prose typography partial.
    @set page.page_builder.hero
#}}

<!-- /page_builder/_hero.antlers.html -->
{{ partial:page_builder/block class="hero" }}

    <div class="container">
        <div class="col">
            <img src="assets/pcb.png" alt="pcb">
        </div>
        <div class="col">
            <span class="lead-title">Introducing</span>
            <h1>Rogue Core</h1>
            <p>Build for <span>Local AI</span> Home Assistant.<br>
            A custom Raspberry Pi with a “Bring your own GPU” mindset.</p>
            <p>PCIe Port to connect full power GPU's</p>
        </div>
        
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_hero.antlers.html -->
