{{#
    @name Article
    @desc The article page builder block. It extends the prose typography partial.
    @set page.page_builder.article
#}}

<!-- /page_builder/_article.antlers.html -->
{{ partial:page_builder/block class="long-content" }}

    <div class="container">
        <div class="col">
            <span class="lead-title">{{ lead_title }}</span>
            <h2>{{ title }}</h2>
        </div>
        <div class="col">
            {{ content }}
        </div>
    
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_article.antlers.html -->
