{{#
    @name Long content
    @desc The long content page builder block. It extends the prose typography partial.
    @set page.page_builder.long_content
#}}

<!-- /page_builder/_long_content.antlers.html -->
{{ partial:page_builder/block class="long-content" }}

    <div class="container">
        <div class="col">
            {{ if lead_title }}
                <span class="lead-title">{{ lead_title }}</span>
            {{ /if }}
            {{ if title }}
                <h2>{{ title }}</h2>
            {{ /if }}
        </div>
        <div class="col">
            {{ content }}
        </div>
    
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_long_content.antlers.html -->
