{{#
    @name Spec. List
    @desc The spec. list page builder block. It extends the prose typography partial.
    @set page.page_builder.spec_list
#}}

<!-- /page_builder/_spec_list.antlers.html -->
{{ partial:page_builder/block class="spec_list" }}

    <div class="container">
        <dl>
            {{ list }}
                <div class="spec">
                    <dt class="title">{{ title }}</dt>
                    <dd class="description">{{ description }}</dd>
                </div>
            {{ /list }}
        </dl>
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_spec_list.antlers.html -->