{{#
    @name YouTube Video
    @desc The YouTube Video page builder block. It extends the prose typography partial.
    @set page.page_builder.youtube_video
#}}

<!-- /page_builder/_youtube_video.antlers.html -->
{{ partial:page_builder/block class="bg-gray-900 py-16 sm:py-32 lg:py-48" }}
    <div class="mx-auto max-w-5xl">
        <iframe class="w-full aspect-video" src="{{ youtube_video_url }}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        {{ if button_url }}
            <div>
                <a href="{{ button_url }}" class="rounded bg-primary-300 text-gray-900 font-bold py-4 px-8 mx-auto inline-block mt-4">{{ button_text }}</a>
            </div>
        {{ /if }}
    </div>
    
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_youtube_video.antlers.html -->